<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TvScheduler.Properties.Settings.MyTvConnectionString"
            connectionString="Data Source=(local);Initial Catalog=MyTv;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="TvScheduler.Properties.Settings.TvSchedulerConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\TvScheduler.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="TvScheduler.Properties.Settings.TvSchedulerConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\TvScheduler.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>